@font-face{
    font-family: "Gudea";
    src: url('../font/Gudea-Regular.ttf');

}

@font-face{
    font-family: 'Gudea Bolt';
    src: url('../font/Gudea-Bold.ttf');
}

@font-face{
    font-family: 'Gudea Italic';
    src: url('../font/Gudea-Italic.ttf');
}

body{
    margin: 0%;
    padding: 0%;
    font-family:'Gudea';
}

#sign-up-main-ctnr{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2d314e;
}

#sign-up-ctnr{
    width: 500px;
    height: auto;
    background-color: #F7F7F2;
    border-radius: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    margin: 0;
    font-size: 70px;
    font-family: 'Gudea Bolt';
    color: #2d314e;
}

#sign-up-to-sign-in{
    background-color: #eb2a5c;
    width: 120px;
    color: #F7F7F2;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid #F7F7F2;
    border-radius: 2px;
    margin-bottom: 15px;
}

#sign-up-identifiant{
    margin: 15px 0;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 3px;
}

#sign-up-mdp{
    margin-bottom: 15px;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 3px;
}

#sign-up-mdp-confirm{
    margin-bottom: 30px;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 3px;
}

#sign-up-to-sign-in:hover{
    background: #2d314e;
    color: #eb2a5c;
    transition-duration: 0.5s;
    cursor: pointer;
}